<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PersonalPage</title>
</head>
<BODY BGCOLOR="#9c9c9c">
<CENTER><IMG SRC="/avatar.png" ALIGN="BOTTOM"> </CENTER>
<HR>
<h1 align="up" th:text="User"></h1>
<a th:href="@{/personal_page/{id}/edit(id=${user.getId()})}"><h2>Edit info</h2></a>
<center><h1 align="up" th:text="${user.getName()}"></h1></center>
<H2> User info:</H2>
 <label><b>Age: </b><h2 th:text="${user.getAge()}"></h2></label>
 <label><b>Login: </b><h3 th:text="${user.getLogin()}"></h3></label>
 <label><b>Password: </b><h3 th:text="${user.getPassword()}"></h3></label>
 <label><b>PersonalId: </b><h3 th:text="${user.getId()}"></h3></label>
<HR>
<BR> <B><I><a th:href="@{/users/{id}(id=${user.getId()})}"><h1>Show all users</h1></a></I></B>
<h2>FRIENDS:</h2>
<div th:each="friend : ${user.getFriends()}">
    <a th:href="@{/users/user/{id}(id=${friend.getId()})}"><h1 th:text="${friend.getName()}"></h1></a>
    <form th:method="DELETE" th:action="@{/users/delete/{id}/{friendId}(id=${user.getId()}, friendId=${friend.getId()})}" th:object="${user}">
        <input type="submit" value="Delete friend">
    </form>
</div>
</BODY>
</html>