<!DOCTYPE html>
<html lang="en", xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
  <h1>All Users:</h1>
</head>
<body BGCOLOR="#9c9c9c">
<a th:href="@{/}">To the Main Page</a>
<div th:each="potentialFriend : ${users}">
    <a th:href="@{/users/user/{id}(id=${potentialFriend.getId()})}"><h1 th:text="${potentialFriend.getName()}"></h1></a>
    <form th:method="PATCH" th:action="@{/users/addFriend/{id}/{friendId}(id=${user.getId()}, friendId=${potentialFriend.getId()})}" th:object="${user}">
        <input type="submit" value="Add to friends">
    </form>
</div>
</body>
</html>